# Logs
logs
*.log
npm-debug.log*

node_modules
*.local
docs/.vitepress/dist
docs/.vitepress/cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
